/** BANNER **/
.banner {
    padding-top: calc(2rem + .9vw);
    margin-top: calc(5.23rem + .9vw);
    width: 100%;
    height: 90vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner__slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10.5%;
    left: calc(50% - 100px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: move-slider 20s linear infinite;
}
@keyframes move-slider {
    0% {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
    100% {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
}

.banner__slider.stop-slider {
    animation-play-state: paused;
}

.banner__slider .banner__item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px);
}

.banner__slider .banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--white-color);
    box-shadow: 0 0 2px var(--black-color), 0 0 0 2px var(--black-color), 0 0 0 2px var(--black-color);
    border-radius: 5px;
}

.banner_description {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4px);
    padding: 4px;
    background: rgba(0, 0, 0, .6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #beb5b5;
    border-top: 1px solid var(--white-color);
}

.banner__title {
    width: min(1350px, 100vw);
}

.banner__title h1 {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    color: var(--black-color);
    text-shadow: 0 10px 20px var(--black-color);
}

.banner__title h1::after {
    content: attr(data-content);
    position: absolute;
    z-index: 2;
    inset: 0 0 0 0;
    -webkit-text-stroke: 2px var(--orange-color);
}

.banner__button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--orange-color);
    border: 2px solid var(--black-color);
    border-radius: 3px;
    transition: all .35s;
}

.banner__button:hover {
    background-color: rgba(255, 255, 255, .5);
}

/*Media Queries - Banner*/
@media(max-width: 1050px) {
    .banner {
        height: 70vh;
    }

    .banner__slider {
        width: 160px;
        height: 230px;
        top: 14%;
        left: calc(50% - 80px);
    }

    .banner__slider .banner__item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner__title h1 {
        display: none;
    }
}

@media(max-width: 1024px) {
    .banner {
        height: 40vh;
    }

    .banner__slider {
        width: 160px;
        height: 250px;
    }
}

@media(max-width: 820px) {
    .banner {
        height: 45vh;
    }
}

@media(max-width: 768px) {
    .banner {
        margin-top: calc(4.5rem + .9vw);
        margin-bottom: -5rem;
    }

    .banner__slider {
        width: 130px;
        height: 230px;
        top: 16%;
        left: calc(50% - 50px);
    }

    .banner__slider .banner__item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(250px);
    }

    .banner_description {
        font-size: .9rem;
    }
}

@media(max-width: 550px) {
    .banner {
        height: 62vh;
    }
}

@media(max-width: 500px) {
    .banner {
        height: 43vh;
    }

    .banner__slider {
        width: 100px;
        height: 175px;
        top: 25%;
        left: calc(50% - 50px);
    }

    .banner__slider .banner__item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }
}

@media(max-width: 400px) {
    .banner {
        height: 48vh;
    }

    .banner__slider {
        width: 90px;
        height: 150px;
        left: calc(52% - 50px);
    }

    .banner__slider .banner__item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(160px);
    }
}

@media(max-width: 390px) {
    .banner {
        height: 40vh;
    }
}

@media(max-width: 375px) {
    .banner {
        height: 48vh;
    }
}

@media(max-width: 360px) {
    .banner {
        height: 45vh;
    }
}

/*Height Control - Star Wars*/
/* @media (min-width: 450px) and (max-height: 900px) {
    .banner {
        height: 120vh;
    }
} */
/**end BANNER **/

/** comment class **/
p.comment {
    text-align: center;
    margin: -2.4rem 0 1.6rem 0;
    font-size: .95rem;
}

@media(max-width: 768px) {
    p.comment {
        margin: -2rem 0 1.6rem 0;
    }
}
/** end comment class **/

/** BRANCHES **/
.branches__content__gallery {
    margin: -4px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.48rem;
}

.gallery-img {
    overflow: hidden;
    border: 2px solid var(--black-color);
    display: block;
    border-radius: 7px;
    transition: .5s;
}

.gallery-img:hover {
    border-radius: 13px;
    border: 2px solid var(--white-color);
}

.gallery-img .img {
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    height: 15rem;
    opacity: 1;
    display: block;
    transition: all .5s;
}

.gallery-img .img:hover {
    opacity: .8;
    transform: scale(1.1);
}

/*Modal Gallery*/
.modal {
    position: fixed;
    opacity: 0;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--black-color);
    transition: all .5s;
}

.modal.open {
    opacity: 1;
    z-index: 10;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    font-size: calc(2.2rem + .8vw);
    color: var(--white-color);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    opacity: .7;
    transition: .5s;
}

.close-btn:hover {
    opacity: 1;
}

.next-btn,
.prev-btn {
    position: absolute;
    top: 14rem;
    transform: translateY(-50%);
    background: transparent;
    font-size: calc(2rem + .7vw);
    color: var(--white-color);
    border-color: transparent;
    cursor: pointer;
    opacity: .7;
    transition: .5s;
}

.next-btn:hover,
.prev-btn:hover {
    opacity: 1;
}

.prev-btn {
    left: calc(-3.5rem - 1vw);
}

.next-btn {
    right: calc(-3.5rem - 1vw);
}

button {
    outline: none;
}

.modal__content {
    width: 86%;
    margin: 0 auto;
    margin-top: 1.4rem;
    position: relative;
}

.main-img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid var(--white-color);
}

.main-img.selected {
    animation: opacity-image .75s;
}

@keyframes opacity-image {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-name {
    text-align: center;
    margin: .5rem 0 .7rem 0;
    color: var(--white-color);
    letter-spacing: .1rem;
    text-transform: capitalize;
    font-size: calc(1rem + .8vw);
}

.image-name.selected {
    animation: opacity-image .8s;
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: .7rem;
    margin-bottom: 1rem;
}

.modal-img {
    width: 100%;
    height: 5.5rem;
    object-fit: cover;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem !important;
    opacity: .5;
    transition: all .5s;
}

.modal-img:hover {
    opacity: 1;
}

.modal-img.selected {
    opacity: 1;
}

/* Media Queries - Branches */
@media(max-width: 1335px) {
    .modal {
        overflow: scroll;
    }
}

@media(max-width: 1250px) {
    .main-img {
        height: 25rem;
    }

    .close-btn {
        right: 1rem;
    }
}

@media(max-width: 1080px) {
    .main-img {
        height: 24rem;
    }

    .modal-img {
        height: 4.5rem;
    }

    .close-btn {
        right: .8rem;
    }

    .next-btn,
    .prev-btn {
        top: 13rem;
    }

    .prev-btn {
        left: calc(-2.5rem - 1vw);
    }

    .next-btn {
        right: calc(-2.5rem - 1vw);
    }
}

@media(max-width: 900px) {
    .branches__content__gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .next-btn,
    .prev-btn {
        top: 12rem;
    }

    .main-img {
        height: 23rem;
    }

    .modal {
        padding: 0 .5rem;
    }

    .modal-img {
        height: 4rem;
    }
}

@media(max-width: 768px) {
    .gallery-img .img {
        height: 13rem;
    }

    .main-img {
        height: 22rem;
    }

    .close-btn {
        top: 3rem;
    }

    .next-btn,
    .prev-btn {
        top: 11rem;
    }

    .modal__content {
        margin-top: 3rem;
    }

    .modal-images {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: .5rem;
    }
}

@media(max-width: 600px) {
    .branches__content__gallery {
        grid-template-columns: 1fr;
    }

    .main-img {
        height: 21rem;
    }

    .close-btn {
        right: .5rem;
    }

    .next-btn,
    .prev-btn {
        top: 10rem;
    }

    .prev-btn {
        left: calc(-2rem - 1vw);
    }

    .next-btn {
        right: calc(-2rem - 1vw);
    }
}

@media(max-width: 420px) {
    .main-img {
        height: 20rem;
    }

    .modal {
        padding: 0 1rem;
    }

    .modal-img {
        height: 4rem;
    }
}

@media(max-width: 360px) {
    .modal {
        padding: 0 1.4rem;
    }

    .modal-img {
        height: 3rem;
    }

    .main-img {
        height: 18rem;
    }
}

@media(max-width: 325px) {
    .gallery-img .img {
        height: 12rem;
    }

    .main-img {
        height: 16.8rem;
    }
}
/** END BRANCHES **/

/** LAMBORGHINI **/
.lamborghini__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.lamborghini__item {
    position: relative;
    z-index: 3;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px #ffffff, 0 0 0 5px #222222;
}

.lamborghini__item__btn {
    position: absolute;
    top: 6.5px;
    right: 8px;
    padding: .2rem .4rem;
    background-color: var(--mid-blue-color);
    color: var(--white-color);
    border-radius: 3px;
    font-family: 'Orbitron', sans-serif;
    font-size: calc(.5rem + .9vw);
    letter-spacing: 1px;
    font-weight: 550;
    z-index: 3;
    transition: var(--transition-five);
}

.lamborghini__item__btn:hover {
    background-color: var(--orange-color);
}

.lamborghini__item__front {
    position: relative;
    z-index: 1;
}

.lamborghini__item__image {
    border-radius: 10px;
    border: 3px solid var(--black-color);
    object-fit: fill;
    min-height: 16.5rem;
}

.lamborghini__item__back {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, .75);
    z-index: 2;
    border-radius: 0 0 10px 10px;
    transition: var(--transition-five);
}

.change-height .lamborghini__item__back {
    height: 75%;
    animation: move-text .8s;
}

@keyframes move-text {
    0% {
        height: 0%;
    }

    50% {
        height: 83%;
    }

    100% {
        height: 75%;
    }
}

.lamborghini__item__text {
    position: absolute;
    top: 0;
    left: 14px;
    color: var(--mid-white-color);
    padding-right: 14px;
    line-height: 1.4;
}

.lamborghini__item__text > h4,
.lamborghini__item__text > p {
    padding-top: 10px;
    font-size: calc(.55rem + 1vw);
}

/* Media Queries - Lamborghini */
@media(max-width: 1080px) {
    .lamborghini__item__image {
        object-fit: cover;
    }
}

@media(max-width: 880px) {
    .lamborghini__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1.6rem;
    }

    .lamborghini__item:first-child {
        margin-bottom: 2rem;
    }
}

@media(max-width: 450px) {
    .lamborghini__item__image {
        min-height: 14rem;
    }
}

@media(max-width: 375px) {
    .lamborghini__item__image {
        min-height: 13rem;
    }
}

@media(max-width: 330px) {
    .lamborghini__item__image {
        min-height: 11rem;
    }
}
/** end LAMBORGHINI **/

/** SPACE STATIONS **/
section.stations {
    padding: calc(2rem + .8vw) calc(2.3rem + 1vw) calc(3rem + 1vw) calc(2.3rem + 1vw);
}

.stations-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    justify-content: space-between;
    perspective: 1200px;
}

.station-item {
    max-width: 370px;
    margin: 0 auto;
    border: 2px solid var(--mid-blue-color);
    box-shadow: 0 0 5px #1f97ce, 0 0 0 4px #2b2b2b, 0 0 0 5px #2b2b2b;
    border-radius: 5px;
    background-color: var(--white-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: all .8s;
}

.station-item__front {
    backface-visibility: hidden;
    opacity: 1;
    transition: all .45s .12s;
}

.station-item__header {
    position: relative;
    padding: 20px 0;
    background-color: var(--light-gray-color);
    border-bottom: 2px solid var(--black-color);
}

.station-item__header__btn {
    width: 55%;
    margin: 0 auto;
    min-width: 147px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: .2rem .25rem;
    border-radius: 4px;
    border: 2px solid var(--black-color);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 550;
    transition: all .5s;
    animation: change-border 1.8s infinite;
}

@keyframes change-border {
    0% {
        border: 2px solid var(--black-color);
    }

    10% {
        border-top: 3px solid transparent;
    }

    35% {
        border-right: 3px solid transparent;
        box-shadow: 3px 3px 7px var(--white-color);
    }

    50% {
        border-bottom: 3px solid transparent;
        box-shadow: 3px 3px 7px var(--white-color);
    }

    70% {
        border-left: 3px solid transparent;
    }

    100% {
        border: 2px solid var(--black-color);
    }
}

.station-item__header__btn:hover {
    background-color: var(--mid-blue-color);
    color: var(--white-color);
}

.station-item__header__title {
    background-color: var(--light-gray-color);
    font-size: 1rem;
    padding: 12px 0;
    border: 2px solid var(--black);
}

.station-item__body {
    padding: 16px 20px;
}

.station-item__body__image {
    /* display: block; */
    /* width: 100%; */
    max-height: 260px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid var(--mid-blue-color);
    /* object-fit: cover; */
    aspect-ratio: 1;
}

.station-item__footer__year {
    background-color: var(--light-gray-color);
    font-size: .95rem;
    padding: 10px 0;
    border-top: 2px solid var(--black-color);
    transition: var(--transition-five);
}

.station-item__back {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-gray-color);
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    transition: top .8s, opacity .2s;
}

.station-item__back_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.station-item__back h1,
.station-item__back h2 {
    margin: 23px 0;
}

.station-item__back h1 {
    font-size: 1.5rem;
}

.station-item__back h2 {
    font-size: 1.3rem;
}

.btn-back {
    display: block;
    text-decoration: none;
    font-size: 1.12rem;
    padding: 6px 10px;
    margin: 20px auto;
    border: 2px solid var(--mid-blue-color);
    color: var(--black);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    transition: var(--transition-five);
}

.btn-back:hover {
    background-color: var(--mid-blue-color);
    color: var(--white-color);
}

/* hover effect was replaced by button click (.rotate-station:hover) */
.change-item.station-item {
    transform: rotateY(180deg);
    border-width: 3px;
    box-shadow: 5px 15px 50px #2e2e2e;
}

.change-item.station-item .station-item__front {
    opacity: 0;
}

.change-item .station-item__back {
    top: 0;
    opacity: 1;
    visibility: visible;
    user-select: auto;
    pointer-events: auto;
}

.change-item .station-item__header__title {
    border-bottom: 2px solid transparent;
}

.change-item .station-item__footer__year {
    opacity: 0;
}

/* Media Queries - Space Stations */
@media(max-width: 1050px) {
    .stations-content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
    }
}

@media(max-width: 577px) {
    .stations-content {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 330px) {
    span.hide-text {
        display: none;
    }
}
/** end SPACE STATIONS **/

/** WEB **/
.web__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.web__content__table {
    flex-basis: 48%;
}

.web__content__table table {
    border: 3px solid var(--black-color);
    width: 100%;
    text-align: center;
    border-radius: 7px;
    /* border-collapse: collapse; */
    background-color: var(--gray-color);
}

.web__content__table table th {
    border-bottom: 2px solid var(--black-color);
    padding: .6rem 0;
    background: linear-gradient(#eb9018, #e2e24b);
    font-family: 'Raleway', sans-serif;
    color: var(--dark-blue-color);
    font-size: 1.1rem;
}

.web__content__table table th:first-child {
    border-top-left-radius: 5px;
}

.web__content__table table th:last-child {
    border-top-right-radius: 5px;
}

.web__content__table table tr:nth-child(odd) {
    background-color: var(--mid-gray-color);
}

.web__content__table table tr:nth-child(even) {
    background: linear-gradient(#1b5fdd, #2cb6e0);
}

.web__content__table table td {
    padding: .7rem 0;
}

.web__content__table table tfoot td {
    background: linear-gradient(#eb9018, #e2e24b);
    border-top: 2px solid var(--white-color);
    color: var(--dark-blue-color);
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 5px 5px;
}

/* Toggle */
.web__toggle {
    margin: 1.4rem 0 0 .35rem;
}

.web__toggle__toggler {
    display: flex;
    align-items: center;
}

.web__toggle__icon {
    /* line-height: 22px; */
    width: 22px;
    height: 22px;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    font-weight: 550;
    border: 1px solid var(--black-color);
    transition: var(--transition-five);
}

.change-toggler .web__toggle__icon {
    background-color: var(--orange-color);
    padding-bottom: .15rem;
    border: 1px solid var(--white-color);
}

.web__toggle__btn {
    margin: 0 0 0 .35rem;
    border: 1px solid var(--black-color);
    padding: 3px 4px;
    border-radius: 7px;
    font-size: .95rem;
    font-weight: 550;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    transition: var(--transition-five);
}

.change-toggler .web__toggle__btn {
    background-color: var(--orange-color);
    border: 1px solid var(--white-color);
}

.web__toggle__info {
    padding: .7rem .7rem 0 1.8rem;
    color: var(--white-color);
    max-height: 0;
    overflow: hidden;
    transition: var(--transition-five);
}

.change-toggler .web__toggle__info {
    max-height: 80px;
}

/* Media Queries - Web */
@media(max-width: 768px) {
    .web__content__table {
        flex-basis: 100%;
    }

    .web__content__table:last-child {
        margin-top: 2.5rem;
    }

    .change-toggler .web__toggle__info {
        max-height: 128px;
    }
}

@media(max-width: 330px) {
    .change-toggler .web__toggle__info {
        max-height: 137px;
    }
}
/** end WEB **/

/** MOTORCYCLES **/
section.motorcycles {
    width: 100%;
}

.motorcycles .section-title {
    margin-top: -.7rem;
}

.motorcycles__content {
    max-width: 1250px;
    /* margin: 0 auto; */
    margin: -1.7rem auto -1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.motorcycles__content__container {
    width: 100%;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 3rem;
    overflow-x: hidden;
    transition: all .3s;
}

.motorcycles__content__arrow {
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid var(--orange-color);
    box-shadow: 0 0 3px var(--black-color), 0 0 0 3px var(--black-color), 0 0 0 2px var(--black-color);
    transition: all .3s;
}
.motorcycles__content__arrow:hover {
    box-shadow: 0 0 2px var(--orange-color), 0 0 0 2px var(--orange-color), 0 0 0 1px var(--orange-color);
}

.motorcycles__content__arrow i {
    font-size: calc(16px + 1vw);
    background-color: var(--orange-color);
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
}
.motorcycles__content__arrow i:hover {
    opacity: .75;
}

.motorcycles__content__arrow .fa-arrow-circle-left {
    padding-right: 1px;
}

article.thumbnail {
    flex: 0 0 auto;
    /* flex-shrink: 0; */
    width: 320px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
}
article.thumbnail:hover {
    transform: scale(1);
    box-shadow: 0 0 4px var(--dark-blue-color), 0 0 0 2px var(--dark-blue-color), 0 0 0 2px var(--dark-blue-color);
}

.thumbnail img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-bottom: 2px solid var(--black-color);
}

.product-details {
    text-align: center;
    padding-bottom: .85rem;
}

.product-details h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.product-details p {
    font-size: .95rem;
    line-height: 1.4;
    margin-bottom: .5rem;
}

.product-details a {
    font-size: .9rem;
    text-decoration: none;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    padding: .3rem .7rem;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: all .3s;
}
.product-details a:hover {
    background-color: var(--dark-orange-color);
    color: var(--black-color);
    border: 2px solid var(--black-color);
}

/*Media Queries - Motorcycles*/
@media(max-width: 700px) {
    h1 {
        font-size: calc(1.4rem + 1vw);
    }

    .motorcycles__content__container {
        padding: 0 2rem;
        height: 348px;
    }

    article.thumbnail {
        width: 250px;
    }

    .product-details h2 {
        font-size: calc(.6rem + 1vw);
        margin-top: 3px;
    }
    
    .product-details p {
        font-size: calc(.6rem + 1vw);
        margin-bottom: .5rem;
    }
    
    .product-details a {
        font-size: calc(.5rem + 1vw);
    }
}

@media(max-width: 450px) {
    .motorcycles__content__container {
        height: 290px;
    }
    
    article.thumbnail {
        width: 180px;
    }
}
/** end MOTORCYCLES **/